<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Sarthi - Best Educational Trust In Patna</title>
    <link rel="icon" href="/assets/images/fevicon.png">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div id="container">
        <div id="body-section">
            
            <div class="course-name flex flex-wrap">
                <div class="course-name-item">
                    <img src="/assets/images/Page-image/Gallary/Campus Sarthi.png" alt="">
                </div>
                <div class="course-name-item">
                    <img src="/assets/images/Page-image/Gallary/image 2.png" alt="">
                </div>
                <div class="course-name-item">
                    <img src="/assets/images/Course/After-Matriculation.png" alt="">
                </div>
                <div class="course-name-item">
                    <img src="/assets/images/Course/After-Matriculation.png" alt="">
                </div>
            </div>
        </div>



       

    </div>


    <script src="/index.js"></script>
</body>

</html>